@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body{
    background-color: #9160B4;
    color:#fff;
    margin:0px;
    
    padding:0px;
}

#header{
    padding-right:2rem;
}

.navBar{
  width: 100%;
  list-style: none;
  margin-top:1%;
  display: flex;
  justify-content: flex-end;
}

.nav-item{
  cursor: pointer;
  margin-right:3rem;
  margin-top:2rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 36px;
  width: auto;
  height: 40px;
}

#nav-h{
  color: #ffffff;
}

#nav-a{
  color: #15021d;
}

#nav-p{
  color: #ffffff;
}

.container{
  margin:2rem;
  justify-content: center;
  text-align: left;
}

.quote{
    background-color: #15021d;
    margin-top:2rem;
    width: 100%;;
    text-align: center;
    padding:1rem;
    padding-bottom: 2rem;;
}

i{
  color:#40006e;
}

.qT{
  margin-top: 6rem;
  padding:2rem;
    font-size: 1.6rem;;
    line-height: 40px;
    color:#40006e;
    font-weight: 800;
    letter-spacing: 1px;
    text-align: center;
}

.qL{
    font-size: 1.4rem;;
    line-height: 40px;
    color:#e2e2e2;
    font-weight: 800;
    letter-spacing: 1px;
}

.langBar{
  font-size:1.2rem;
background-color: #15021d;
justify-content: center;
text-align: center;
padding:4%;
padding:1rem;
margin-top:3rem;
}  

.lang{
  width:75px;
  height:85px;
  padding:1%;
}

@media (min-width:1000px){
   .nav-item{padding-right:3rem;}
   .container{padding-left: 10rem; padding-right: 10rem; margin-top: 7rem;font-size:1.2rem;}
}

@media (max-width: 1000px) {
  .nav-item{
      font-size: 1.3rem;
      padding-right:1rem;
  }
  .navBar{
      justify-content: center;
    
  }
}

@media (max-width:600px){
  .nav-item{
      font-size: 1.1rem;
  }
}

@media (max-width:500px){
  .nav-item{
      font-size: 1rem;
      margin-right: 2.4rem;
  }
}

html {
   -ms-overflow-style: none;  /* Internet Explorer 10+ */
   scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar { 
   display: none;  /* Safari and Chrome */
}

